.color_grad{
    background: rgb(251,241,189);
    background: linear-gradient(90deg, rgba(251,241,189,1)  0%, rgba(255,169,14,1) 100%);
    border: 1px solid rgb(182, 182, 182);
}
.size{
    width: 500px;
    display: block;
    height: 445px;
}